name: Tests Pipeline

on:
  pull_request:
  push:
    branches: ['main']

jobs:

  generate-matrix:
    name: 'Generate matrix from cabal'
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    runs-on: ubuntu-latest
    steps:
      - name: Extract the tested GHC versions
        id: set-matrix
        uses: kleidukos/get-tested@v0.1.7.1
        with:
          cabal-file: print-api.cabal
          ubuntu-version: 'latest'
          macos-version: 'latest'
          version: 0.1.7.1

  generate-alpine-matrix:
    name: 'Generate Alpine matrix from cabal'
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    runs-on: ubuntu-latest
    steps:
      - name: Extract the tested GHC versions
        id: set-matrix
        uses: kleidukos/get-tested@v0.1.7.1
        with:
          cabal-file: print-api.cabal
          version: 0.1.7.1
          ubuntu-version: 'latest'

  builds:
    name: ${{ matrix.ghc }} on ${{ matrix.os }}
    needs: generate-matrix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{ fromJSON(needs.generate-matrix.outputs.matrix) }}
    steps:
      - name: "Install tools"
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt install upx-ucl

      - name: Checkout base repo
        uses: actions/checkout@v5

      - name: Set up Haskell
        id: setup-haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: 'latest'

      - name: Configure
        run: |
          ARCHITECTURE=$(uname -m)
          echo "ARCH=$ARCHITECTURE" >> $GITHUB_ENV
          KERNEL=$(uname -s)
          echo "KERNEL=$KERNEL" >> $GITHUB_ENV
          echo "REPORT_NAME=report-$KERNEL-ghc-${{ matrix.ghc }}.xml" >> $GITHUB_ENV
          echo ${{ env.ARCH }}
          echo "$GITHUB_WORKSPACE/distribution" >> "$GITHUB_PATH"
          echo "REPORT_NAME=report-${{ matrix.os }}-ghc-${{ matrix.ghc }}.xml" >> $GITHUB_ENV

      - name: Freeze
        run: cabal freeze --project-file=cabal.release.project

      - name: Cache
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-ghc-${{ matrix.ghc }}-${{ hashFiles('**/plan.json') }}
          path: ${{ steps.setup-haskell.outputs.cabal-store }}
          restore-keys: ${{ runner.os }}-ghc-${{ matrix.ghc }}-

      - name: Build
        run: cabal build --project-file=cabal.release.project

      - name: Test
        run: |
          cabal test --project-file=cabal.release.project --test-options "--xml=../print-api/${{ env.REPORT_NAME }}" all

      - name: Upload the test report
        uses: actions/upload-artifact@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          name: ${{ env.REPORT_NAME }}
          path: ${{ env.REPORT_NAME }}

      - name: Install
        run: |
          mkdir distribution
          for executable in 'print-api' 'print-api-${{ matrix.ghc }}'; do
            path=$(cabal -v0 --project-file=cabal.release.project list-bin "print-api:exe:${executable}")
            cp -v "${path}" distribution
          done

      - name: File type
        run: file distribution/*

      - name: Post-process executables
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          for executable in distribution/*; do
            strip "${executable}"
            upx -9 "${executable}"
          done

      - name: Package the executables
        shell: bash
        run: |
          executables=( $(ls distribution) )
          ARTIFACT_NAME=print-api-${{ env.KERNEL }}-ghc-${{ matrix.ghc }}
          echo "ARTIFACT_NAME=${ARTIFACT_NAME}" >> $GITHUB_ENV
          ARCHIVE=${ARTIFACT_NAME}.tar.gz
          tar -czvf "${ARCHIVE}" -C distribution "${executables[@]}"

      - name: Upload the executables archive
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.ARTIFACT_NAME }}.tar.gz

  build-alpine:
    name: ${{ matrix.ghc }} on alpine-3.20
    needs: generate-alpine-matrix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{ fromJSON(needs.generate-alpine-matrix.outputs.matrix) }}
    container: 'alpine:3.20'
    steps:
      - name: Install extra dependencies
        shell: sh
        run: |
            apk add bash binutils-gold curl \
                curl file g++ gcc git gmp-dev \
                jq libc-dev libffi-dev make \
                musl-dev ncurses-dev perl pkgconfig \
                sudo tar upx xz zlib-dev zlib-static

      - uses: actions/checkout@v5

      - uses: haskell-actions/setup@v2
        id: setup-haskell
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: 'latest'

      - name: Configure
        run: |
          ARCHITECTURE=$(uname -m)
          echo "ARCH=$ARCHITECTURE" >> $GITHUB_ENV
          KERNEL=$(uname -s)
          echo "KERNEL=$KERNEL" >> $GITHUB_ENV
          echo "REPORT_NAME=report-$KERNEL-ghc-${{ matrix.ghc }}.xml" >> $GITHUB_ENV
          echo ${{ env.ARCH }}
          echo "$GITHUB_WORKSPACE/distribution" >> "$GITHUB_PATH"
          cabal configure --enable-tests

      - name: Freeze
        run: cabal freeze --project-file=cabal.static.project

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.setup-haskell.outputs.cabal-store }}
          key: alpine-ghc-${{ matrix.ghc }}-${{ hashFiles('**/plan.json') }}
          restore-keys: alpine-3.20-${{ matrix.ghc }}-

      - name: Build
        run: cabal build --project-file=cabal.static.project

      - name: Install
        run: |
          mkdir distribution
          for executable in 'print-api' 'print-api-${{ matrix.ghc }}'; do
            path=$(cabal -v0 --project-file=cabal.static.project list-bin "print-api:exe:${executable}")
            cp "${path}" distribution
          done
          echo "$GITHUB_WORKSPACE/distribution" >> "$GITHUB_PATH"
          echo "REPORT_NAME=report-${{ env.KERNEL }}-static-ghc-${{ matrix.ghc }}" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/distribution" >> "$GITHUB_PATH"

      - name: Test
        run: cabal test --project-file=cabal.static.project --test-options "--xml=../print-api/${REPORT_NAME}.xml" all

      - name: Upload the test report
        uses: actions/upload-artifact@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          name: ${{ env.REPORT_NAME }}
          path: ${{ env.REPORT_NAME }}.xml

      - name: File type
        run: file distribution/*

      - name: Post-process executables
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          for executable in distribution/*; do
            strip "${executable}"
            upx -9 "${executable}"
          done

      - name: Package the executables
        shell: bash
        run: |
          executables=( $(ls distribution) )
          ARTIFACT_NAME=print-api-${{ env.KERNEL }}-static-ghc-${{ matrix.ghc }}
          echo "ARTIFACT_NAME=${ARTIFACT_NAME}" >> $GITHUB_ENV
          ARCHIVE=${ARTIFACT_NAME}.tar.gz
          tar -czvf "${ARCHIVE}" -C distribution "${executables[@]}"

      - name: Upload the get-tested executable
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.ARTIFACT_NAME }}.tar.gz

  collect-test-results:
    name: Collect test results
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs: ['builds', 'build-alpine']
    steps:
      - name: Install junitparser
        run: |
          pip install junitparser==3.2.0
      - name: Download Test Report
        uses: actions/download-artifact@v5
        with:
          pattern: report-*
          merge-multiple: true

      - name: Merge XML files
        run: |
          junitparser merge --glob *.xml final-report.xml

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        with:
          commit: ${{github.event.workflow_run.head_sha}}
          report_paths: 'final-report.xml'

  prerelease-head:
    name: Create a GitHub prerelease with the binary artifacts
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: ['builds', 'build-alpine']
    permissions:
      contents: write

    steps:
    - uses: actions/download-artifact@v5
      with:
        pattern: print-api-*
        merge-multiple: true
        path: ./out

    - name: Pre-release
      uses: softprops/action-gh-release@v2
      with:
        prerelease: true
        files: ./out/*
        tag_name: print-api-head
